.input {
	padding: 8px 18px;
	width: 250px;
	border: none;
	border-radius: 5px;
	margin: 5px 0;
	font-size: 16px;
	font-weight: 400;
	height: 40px;
}

.input:focus {
	outline: 2px solid #0070f3;
}