body {
	font-family: 'Inter', sans-serif;
	background-color: #f3f4f8;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	padding: 25px;
	border-radius: 10px;
	background: white;
	cursor: pointer;
}

.card__content:hover {
	outline: 3px solid #0070f3;
}

.card__content:hover .card__text {
	color: #0070f3;
}

.card__content:hover .card__icon {
	color: #0070f3;
}

.card__icon {
	height: 50px;
	width: 50px;
}

.card__text {
	font-weight: 700;
	font-size: 24px;
}

@media screen and (max-width: 750px) {
	.container {
		flex-direction: column;
	}
}