.translation__title {
	font-size: calc(18px + (18-18) * ((100vw - 320px) / (1200-320)));
	font-weight: 700;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: calc(15px + (35-15) * ((100vw - 320px) / (1200-320)));
	padding-right: calc(15px + (35-15) * ((100vw - 320px) / (1200-320)));
}