@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  line-height: 1;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

:root {
  --background-primary: #e6e6e7;
  --background-secondary: white;
  --text-primary: black;
  --text-secondary: #f4f4f4;
  --text-placeholder: #ababab;
  --icon-primary: rgb(73, 72, 72);
  --primary: #0070f3;
}

[data-theme='dark'] {
  --background-primary: #111111;
  --background-secondary: #232323;
  --text-primary: white;
  --text-secondary: rgb(73, 72, 72);
  --text-placeholder: #929293;
  --icon-primary: rgb(73, 72, 72);
  --primary: #0070f3;
}

.page {
  min-height: 100vh;
  padding: 25px 0px;
  color: var(--text-primary);
  background-color: var(--background-primary);
  transition: all .5s;
}