.filter {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: calc(15px + (35-15) * ((100vw - 320px) / (1200-320)));
	padding-right: calc(15px + (35-15) * ((100vw - 320px) / (1200-320)));
}

.title {
	font-size: calc(18px + (18-18) * ((100vw - 320px) / (1200-320)));
	font-weight: 700;
	padding: 15px 0px;
}

.button {
	font-size: calc(14px + (6-14) * ((100vw - 320px) / (1200-320)));
	border-radius: 5px;
	cursor: pointer;
	color: var(--text-placeholder);
	background-color: var(--text-secondary);
	padding: 8px 18px;
	outline: none;
}

.button:hover {
}

.container {
	padding: 15px;
	background-color: var(--background-secondary);
	border-radius: calc(5px + (7-5) * ((100vw - 320px) / (1200-320)));
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 350px;
	line-height: 115%;
}