.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-size: inherit;
	line-height: inherit;
	outline: none;
}