.textarea {
	padding: 8px 18px;
	width: 250px;
	height: 150px;
	border-radius: 10px;
	border: none;
	outline: none;
	resize: none;
	overflow: auto;
	font-size: 24px;
	margin-top: 10px;
}

.outputTextarea textarea {
	background-color: aliceblue !important;
}